 <!-- ======= Header ======= -->
 {% load static %}
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1>Мой лучший блог </h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="{% url 'add_page' %}"> Начать новый блог </a></li>
          <li class="dropdown"><a href="{% url 'home' %}"><span> Категории </span>
            <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for cat in cats  %}
              <li><a href="{% url 'category' cat.slug %}"> {{cat.name }}</a></li>

              {% endfor %}
            </ul>
          </li>

          <li><a href="{% url 'register' %}"> Регистрация </a></li>
          <li><a href="{% url 'login' %}"> Войти </a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->
