{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%  static  'assets/img/favicon.png' %} " rel="icon">
  <link href="{%  static  'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {%  static  'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {%  static  'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {%  static  'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{%  static  'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href=" {%  static  'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href=" {%  static  'assets/css/variables.css' %}" rel="stylesheet">
  <link href=" {%  static  'assets/css/main.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog - v1.3.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 {% include "women/header.html" %}
  <main id="main">


    <!-- ======= Culture Category Section ======= -->

    <section class="category-section">

      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            {% for cat in cats %}
           {% if cat.pk == 1 %}

          <h2>{{cat.name}}</h2>

          <div><a href="{% url 'category' cat.slug %}" class="more">{{cat.name}}</a></div>

                   </div>


        <div class="row">
          <div class="col-md-9">
<!--            первая большая  картинка в первом диве-->
              {% for p in post|slice:":1" %}
                {% if p.cat.pk ==  1  %}
            <div class="d-lg-flex post-entry-2">
              <a href="{% url 'post' p.slug  %}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{ p.photo.url }}" alt="" class="img-fluid">
              </a>
              <div>
<!--                первый блок , первый пост с картинкой -->

                <div class="post-meta"><span class="date">{{cat.name}}</span>
                  <span class="mx-1">&bullet;</span> <span> {{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
                <h3><a href="{% url 'post' p.slug  %}">{{p.title}} </a></h3>
                <p>{{p.content | linebreaks | truncatewords:50}}</p>
                {% endif %}
                {% endfor %}

                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ p.photo.url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">Wade Warren</h3>
                  </div>
                </div>
              </div>
            </div>
               {% for p in post|slice:"2:3" %}
            {% if p.cat.pk ==  1  %}
            <div class="row">
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="{% url 'post' p.slug  %}"><img src="{{ p.photo.url }} " alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span>
                    <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
                  <h2 class="mb-2"><a href="{% url 'post' p.slug  %}"> {{p.title }} </a></h2>
                  <span class="author mb-3 d-block">Горемыкин   </span>
                  <p class="mb-4 d-block">{{p.content | linebreaks | truncatewords:20}} </p>
                </div>

                {% for p in post|slice:"5:9" %}
                {% if p.cat.pk ==  1  %}
                <div class="post-entry-1">
                  <div class="post-meta"><span
                          class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
                  <h2 class="mb-2"><a href="{% url 'post' p.slug  %}">{{p.title }}</a></h2>
                  <span class="author mb-3 d-block">Пилюлин</span>
                </div>
                {% endif %}
                {%  endfor %}
              </div>

                {% for p in post|slice:"3:5" %}
                {% if p.cat.pk ==  1  %}
              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="{% url 'post' p.slug  %}"><img src=" {{ p.photo.url }} " alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span>
                    <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
                  <h2 class="mb-2"><a href="{% url 'post' p.slug  %}"></a>{{p.title }}</h2>
                  <span class="author mb-3 d-block"> Автор такой то... </span>
                  <p class="mb-4 d-block">{{p.content | linebreaks | truncatewords:20}}</p>
                </div>
              </div>
              {% endif %}
              {%  endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
<!--        узкая колонка первая  -->

          <div class="col-md-3">
            {% for p in post|slice:"0:7"  %}
            {% if p.cat.pk == 1  %}
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">{{cat.name}} </span> <span class="mx-1">&bullet;</span>
                <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
              <h2 class="mb-2"><a href="{% url 'post' p.slug  %}">{{ p.title  }} {{ forloop.revcounter }}</a></h2>
              <span class="author mb-3 d-block"> {{ p.content | linebreaks | truncatewords:10 }}</span>

            </div>
            {% endif %}
            {%  endfor %}

          </div>
        </div>


         {%  endif %}
          {% endfor %}
      </div>
    </section><!-- End Culture Category Section -->



    <!-- ======= Business Category Section ======= -->

    <section class="category-section">

      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    {% for cat in cats %}
                              {% if cat.pk == 2 %}

            <h2>{{cat.name}}</h2>
            <div><a href="{% url 'category' cat.slug %}" class="more">{{cat.name}}</a></div>


                    {% for p in post %}
                {% if p.cat.pk ==  2  %}

        </div>
<!--            первая картинка во втором  диве (большая  колонка)&ndash;&gt;-->



        <div class="row">
          <div class="col-md-9 order-md-2">

            <div class="d-lg-flex post-entry-2">
              <a href="single-post.html" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
                <img src="{{ p.photo.url }} " alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{cat.name}}</span>
                    <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
                <h3><a href="{% url 'post' p.slug  %}">{{ p.title }}</a></h3>
                <p> {{ p.content | linebreaks | truncatewords:20}} </p>
                                                 {% endif %}
                                              {% endfor %}


<!--          узкая колонка во втором диве-->

          <div class="col-md-3">


            <div class="post-entry-1 border-bottom">

              <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }} </span></div>
              <h2 class="mb-2"><a href="single-post.html">{{p.title }}</a></h2>

              <span class="author mb-3 d-block">Иванов </span>
            </div>



          </div>  {% endif %}
      {% endfor %}

</div>
      </div>


    </section><!-- End Business Category Section -->

    <!-- ======= Lifestyle Category Section ======= -->

    {% for cat in cats %}
            {% if cat.pk == 3 %}
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">



            <h2>{{cat.name}}</h2>
            <div><a href="{% url 'category' cat.slug %}" class="more">{{cat.name}}</a></div>

        </div>

<!--          первый  большой контент в 3м секторе -->
        <div class="row g-5">

          <div class="col-lg-4">

            <div class="post-entry-1 lg">
                {% for p in post  %}
              {% if p.cat.pk == 3 %}
              <a href="{% url 'post' p.slug  %}"><img src=" {{ p.photo.url }} " alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date"> {{cat.name}} </span>
                  <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }}</span></div>
              <h2><a href="single-post.html"> {{p.title }}</a></h2>
              <p class="mb-4 d-block"> {{ p.content|linebreaks|truncatewords:100 }} </p>
                  {% endif %}
                  {% endfor %}


              <div class="d-flex align-items-center author">
                <div class="photo"><img src="{%  static  'assets/img/person-7.jpg' %}" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">Esther Howard</h3>
                </div>
              </div>
            </div>



          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">

                <div class="post-entry-1">
                  <a href="single-post.html"><img src="{%  static  'assets/img/post-landscape-6.jpg' %} " alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }}</span></div>
                  <h2><a href="single-post.html">Let’s Get Back to Work, New York</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post.html"><img src="{%  static  'assets/img/post-landscape-5.jpg' %} " alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }}</span></div>
                  <h2><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="single-post.html"><img src=" {%  static  'assets/img/post-landscape-4.jpg' %} " alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>{{p.time_update|date:'d-m-Y H:i:s' }}</span></div>
                  <h2><a href="single-post.html">Why Craigslist Tampa Is One of The Most Interesting Places On the Web?</a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">

              {% for p  in post %}
                {% if p.cat.pk == 3 %}
                <div class="post-entry-1">
                  <a href="single-post.html"><img src="{{ p.photo.url }}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="single-post.html">{{ p.title }}</a></h2>

                </div>
              </div>
              <div class="col-lg-4">

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">{{ p.title }} </a></h2>
                  <span class="author mb-3 d-block">Петров</span>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span class="date">{{cat.name}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="single-post.html">{{ p.title }}</a></h2>
                  <span class="author mb-3 d-block">Сидоров </span>
                </div>


                {% endif %}
                  {% endfor %}

              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section><!-- End Lifestyle Category Section -->
         {%  endif %}
            {% endfor %}

  </main><!-- End #main -->

  {% include "women/footer.html" %}
</body>

</html>